<table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let products of products; let i = index">
                <td>{{i + 1}}</td>
                <td>{{products.name}}</td>
                <td>{{products.price}}</td>
                <td>{{products.status ? "Con hang" : "Het hang"}}</td>
                <td>
                    <button class="btn btn-danger" (click)="removeProduct(products.id)">Delete</button>
                    <button class="btn btn-primary"><a [routerLink]="['product/edit/', products.id]" class="text-white">Edit</a></button>
                </td>
            </tr>
        </tbody>
    </table>
