<h2>Product List Components</h2>
<table class="table table-bordered">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList, let i = index">
            <td>{{ i + 1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.status}}</td>
            <td>
                <button (click)="showDetail(product.id)">Detail</button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="productDetail">
    {{productDetail.name}}
</p>
