<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" placeholder="Name Blog" name="name" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Image</label>
        <input type="text" class="form-control" placeholder="Image Link" name="image" />
    </div>
    <!-- <div class="form-group">
        <label for="exampleInputPassword1">Categories</label>
        <select id="">
            <option
                *ngFor="let categories of cate"
                value="{{ categories._id }}"
                [(ngModel)]="product.catePostId"
                name="catePostId"
            >
                {{ categories.name }}
            </option>
        </select>
        <input
            type="number"
            class="form-control"
            placeholder="Categories ID"
            [(ngModel)]="blog.catePostId"
        />
    </div> -->
    <div class="form-group">
        <label for="exampleInputPassword1">Short Desc</label>
        <input type="text" class="form-control" placeholder="Short Decription" name="short_desc" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" placeholder="Description" name="desc" />
    </div>
    <button class="btn btn-primary">Edit</button>
</form>
