.work {
    max-width: 1152px;
    margin: 0 auto;
    padding: 70px 148px;
}

.work__header {
    font-size: 18px;
    font-weight: 400;
}

.container {
    display: grid;
    grid-template-columns: 246px auto;
    gap: 20px;
    border-bottom: solid 1px #E0E0E0;
    padding: 20px 0;
}

.work__title a {
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.work__detail {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.work__detail .work__date {
    background-color: #142850;
    color: #FFFFFF;
    width: 50px;
    height: 24px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.work__desc {
    width: 507px;
    font-size: 14px;
    font-weight: 300;
}