<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="works__detail">
        <div class="container">
            <div class="detail__title">
                <h1>{{product.name}}</h1>
            </div>
            <div class="detail__introduce">
                <div class="detail__date">
                    <p>2020</p>
                </div>
                <div class="detail__cate">
                     <p>Dashboard, User Experience Design</p>
                </div>
            </div>
            <div class="detail__desc">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </div>
            <div class="detail__img">
                <img src="../../../../assets/detail work 1.png" alt="">
            </div>
        </div>
        <div class="container">
            <div class="detail__head">
                <div class="first__head">
                   <h1>Heading 1</h1> 
                </div>
                <div class="second__head">
                    <h2>Heading 2</h2>
                </div>
            </div>
            <div class="detail__desc">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </div>
            <div class="detail__img">
                <img src="../../../../assets/detail work 2.png" alt="">
            </div>
            <div class="detail__img">
                <img src="../../../../assets/detail work 3.png" alt="">
            </div>
        </div>
    </section>
</body>
</html>