<!-- <button (click)="onHandleClick()">Click</button>
<div *ngIf="productStatus"> -->
    <a routerLink="/product/add">Thêm sản phẩm</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let products of products; let i = index">
                <td>{{i + 1}}</td>
                <td>{{products.name}}</td>
                <td>{{products.price}}</td>
                <td>{{products.status ? "Con hang" : "Het hang"}}</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
<!-- </div>

<form action="">
    <input type="text" (keypress)="onHandleKeyPress($event)" value="{{title}}">
    {{ title }}
</form>

<input type="text" [(ngModel)]="title" value="{{title}}"> {{title}} 
(click)="onHandleDelete(products.id)
-->
